body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: auto;
  width: 100vh;
}

.number {
  background: #f1f3f4;
  color: #202124;
  border: 1px solid #f1f3f4;
  border-radius: 4px;
}

.btn {
  cursor: pointer;
  font-family: arial, sans-serif;
  text-align: center;
  line-height: 34px;
  margin: 4px;
  box-sizing: border-box;
  position: relative;
  border-radius: 4px;
  touch-action: manipulation;
  padding: 0.4em 1em;
}

.btn:active {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  background-color: #ccc;
}

.function {
  background: #dadce0;
  border-color: #dadce0;
}

.input {
  margin: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5em;
  text-align: right;
  font-weight: bold;
  min-height: 2.3em;
  padding: 0.3em 0.3em;
}

.info {
  padding: 0.3em 0.3em;
  text-align: right;
}

.formula {
  font-size: 0.5em;
  font-weight: normal;
}

.history {
  margin: 0 0.2em;
  font-size: 0.8em;
}

.history div {
  padding: 0.2em;
}

.history div:nth-child(2n + 1) {
  background-color: #fbfbfb;
}

table {
  font-size: x-large;
  bottom: 0.5em;
  position: absolute;
  width: calc(100% - 0.8em);
  max-width: 900px;
}

.clear {
  position: relative;
  z-index: 2;
  width: 150px;
  margin: 0.5em;
}
